h2.center 並行と並列の違い

svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" width="640" height="480"
  text x="0" y="30" font-size="24" text-anchor="left" fill="black" 並行: concurrent
  text x="20" y="75" font-size="16" text-anchor="left" fill="black" タスク1
  text x="20" y="175" font-size="16" text-anchor="left" fill="black" タスク2
  polyline stroke="blue" fill="transparent" stroke-width="3" points="100 75 200 75 200 175 300 175 300 75 400 75 400 175 500 175 500 75 600 75 600 175 700 175"
  text x="0" y="230" font-size="24" text-anchor="left" fill="black" 並列: parallel (並行でもある)
  text x="20" y="275" font-size="16" text-anchor="left" fill="black" タスク1
  text x="20" y="375" font-size="16" text-anchor="left" fill="black" タスク2
  line stroke="blue" stroke-width="3" x1="100" y1="275" x2="700" y2="275"
  line stroke="blue" stroke-width="3" x1="100" y1="375" x2="700" y2="375"