h2 ZEAMの狙い〜GPUを駆使せよ！

ul
  li
    span ZEAMでは
    span.strong SIMDを駆動するバイトコード命令
    span を追加する
  li
    span その上で
    span.strong GenStageとElixirコンパイラ
    span を拡張してSIMD命令を利用するようにする
  li
    span そうすると，
    span.strong Flowで書かれたプログラムが自然とGPUを利用してくれる！


svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" width="640" height="300"
  rect x="10" y="10" width="620" height="100" fill="#87CEEB" stroke="black" stroke-width="1"
  rect x="10" y="100" width="620" height="100" fill="#67AECB" stroke="black" stroke-width="1"
  rect x="10" y="150" width="620" height="100" fill="#478EAB" stroke="black" stroke-width="1"
  rect x="100" y="50" rx="5" ry="5" width="50" height="50" fill="#FFD700" stroke="black" stroke-width="1"
  rect x="200" y="50" rx="5" ry="5" width="50" height="50" fill="#FFD700" stroke="black" stroke-width="1"
  rect x="300" y="50" rx="5" ry="5" width="50" height="50" fill="#FFD700" stroke="black" stroke-width="1"
  rect x="400" y="50" rx="5" ry="5" width="50" height="50" fill="#FFD700" stroke="black" stroke-width="1"
  rect x="500" y="50" rx="5" ry="5" width="50" height="50" fill="#FFD700" stroke="black" stroke-width="1"
  rect x="100" y="100" rx="5" ry="5" width="50" height="50" fill="#FFFF00" stroke="black" stroke-width="1"
  rect x="200" y="100" rx="5" ry="5" width="50" height="50" fill="#FFFF00" stroke="black" stroke-width="1"
  rect x="300" y="100" rx="5" ry="5" width="50" height="50" fill="#FFFF00" stroke="black" stroke-width="1"
  rect x="400" y="100" rx="5" ry="5" width="50" height="50" fill="#FFFF00" stroke="black" stroke-width="1"
  rect x="500" y="100" rx="5" ry="5" width="50" height="50" fill="#FFFF00" stroke="black" stroke-width="1"
  rect x="100" y="150" rx="5" ry="5" width="50" height="50" fill="#FFFF88" stroke="black" stroke-width="1"
  rect x="200" y="150" rx="5" ry="5" width="50" height="50" fill="#FFFF88" stroke="black" stroke-width="1"
  rect x="300" y="150" rx="5" ry="5" width="50" height="50" fill="#FFFF88" stroke="black" stroke-width="1"
  rect x="400" y="150" rx="5" ry="5" width="50" height="50" fill="#FFFF88" stroke="black" stroke-width="1"
  rect x="500" y="150" rx="5" ry="5" width="50" height="50" fill="#FFFF88" stroke="black" stroke-width="1"
  rect x="100" y="200" rx="5" ry="5" width="50" height="50" fill="#FFFFFF" stroke="black" stroke-width="1"
  rect x="200" y="200" rx="5" ry="5" width="50" height="50" fill="#FFFFFF" stroke="black" stroke-width="1"
  rect x="300" y="200" rx="5" ry="5" width="50" height="50" fill="#FFFFFF" stroke="black" stroke-width="1"
  rect x="400" y="200" rx="5" ry="5" width="50" height="50" fill="#FFFFFF" stroke="black" stroke-width="1"
  rect x="500" y="200" rx="5" ry="5" width="50" height="50" fill="#FFFFFF" stroke="black" stroke-width="1"
