h3.left fukuoka.ex 入学式 / ZEAM開発ログ 第2回:
h2.center 並列Elixirプログラミングことはじめ
h2.center 〜ZEAMで目指すことは何か
h3.center
  span.nonsplit
    span.heading ZACKY &nbsp;
  	img.heading src="resources/images/ZACKY-3000.jpg"
  span.nonsplit
    span.heading &nbsp; powered by &nbsp;
    span.heading enぺだーし &nbsp;
    img.heading src="resources/images/enpedasi.jpg"
  span.nonsplit
    span.heading &nbsp; special thanks to &nbsp;
    span.heading piacere &nbsp;
    img.heading src="resources/images/piacere_ex.jpg"

img.img src="resources/images/Official_Elixir_logo.png"